<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <!--font Awesome css-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <!--main css-->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>

<body>

    <div class="preloader-container">
        <img src="~/images/813.gif" alt="preloader" class="preloader" />
    </div>

    <header>
        <div class="header-top d-flex align-items-center position-relative"
             style="background: url('@Url.Content("~/images/header-background.png")');">
            <div class="container">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <i class="fas fa-bars d-block d-lg-none mr-3 bar"></i>
                        <a href="@Url.Action("Index","Home")"><img src="~/images/oxuaz.png" alt=""></a>
                        <i class="fas fa-bars bar-scroll ml-2 d-none d-lg-block"></i>
                    </div>
                    <div class="col-12 col-sm-8 pb-2 pb-sm-0 d-flex align-items-center">
                        <a href="" class="about d-none d-lg-block">Haqqımızda</a>
                        <a href="" class="reklam  d-none d-lg-block">Reklam</a>
                        <a href=""><i class="fab fa-facebook-square facebook icon d-none d-lg-block"></i></a>
                        <a href=""><i class="fab fa-twitter twitter icon d-none d-lg-block"></i></a>
                        <a href=""><i class="fab fa-android android icon d-none d-lg-block"></i></a>
                        <a href=""><i class="fab fa-apple apple icon d-none d-lg-block"></i></a>
                        <input type="text" placeholder="Axtarış" class="search-input ml-0 ml-sm-4 mt-2 mt-sm-0">
                        <i class="fas fa-search search-icon mt-2 mt-sm-0"></i>
                        @Html.ActionLink("Adminlik", "Index", "News", new { Area = "Admin" }, new { @class = "btn btn-danger ml-5" })
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-none d-lg-block nav">
            <div class="nav-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                                <a href="@Url.Action("Index","Home")">Baş Səhifə</a>
                                <a href="@Url.Action("Policy","Home")">Siyasət</a>
                                <a href="@Url.Action("Economy","Home")">İqtisadiyyat</a>
                                <a href="@Url.Action("Society","Home")">Cəmiyyət</a>
                                <a href="@Url.Action("ShowBusiness","Home")">Şou-Biznes</a>
                                <a href="@Url.Action("War","Home")">Müharibə</a>
                                <a href="@Url.Action("Sport","Home")">İdman</a>
                                <a href="@Url.Action("Criminal","Home")">Kriminal</a>
                                <a href="@Url.Action("Culture","Home")">Mədəniyyət</a>
                                <a href="@Url.Action("World","Home")">Dünya</a>
                                <a href="@Url.Action("Avto","Home")">Avto-Moto</a>
                                <a href="@Url.Action("IKT","Home")">IKT</a>
                                <a href="@Url.Action("Tourism","Home")">Turizm</a>
                                <a href="@Url.Action("Interesting","Home")">Maraqlı</a>
                                <a href="@Url.Action("Interview","Home")">Müsahibə</a>
                                <a href="@Url.Action("BakuTV","Home")">Baku TV</a>
                                <a href="@Url.Action("CinemaPlus","Home")">Cinema Plus</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="nav-bottom">
                <div class="container ">
                    <div class="row ml-0 mr-0">
                        <div class="col-5 pr-0 pl-0">
                            <a href="" class="az-corona text-center">Azərbaycanda koronavirusla bağlı xəbərlər</a>
                        </div>
                        <div class="col-4 pl-0 pr-0 ">
                            <a href="" class="corona-online text-center h-100">Koronavirus Onlayn Statistika</a>
                        </div>
                        <a href="@Url.Action("AllNews","Home")" class="col-3 pl-0 pr-0 all-news d-none d-lg-inline-block text-center">
                            Bütün
                            xəbərlər
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="nav-mobile d-block d-lg-none">
            <div class="nav-bottom">
                <div class="row ml-0 mr-0">
                    <div class="col-6 pr-0 pl-0">
                        <a href="" class="az-corona text-center">Azərbaycanda koronavirusla bağlı xəbərlər</a>
                    </div>
                    <div class="col-6 pl-0 pr-0 ">
                        <a href="" class="corona-online text-center h-100">Koronavirus Onlayn Statistika</a>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="burger-menu d-block d-lg-none">
            <a class="nav-item" href="@Url.Action("Index","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Baş səhifə</a>
            <a class="nav-item" href="@Url.Action("Policy","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Siyasət</a>
            <a class="nav-item" href="@Url.Action("Economy","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">İqtisadiyyat</a>
            <a class="nav-item" href="@Url.Action("Society","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Cəmiyyət</a>
            <a class="nav-item" href="@Url.Action("ShowBusiness","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Şou-biznes</a>
            <a class="nav-item" href="@Url.Action("War","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Müharibə</a>
            <a class="nav-item" href="@Url.Action("Sport","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">İdman</a>
            <a class="nav-item" href="@Url.Action("Criminal","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Kriminal</a>
            <a class="nav-item" href="@Url.Action("Culture","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Mədəniyyət</a>
            <a class="nav-item" href="@Url.Action("World","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Dünya</a>
            <a class="nav-item" href="@Url.Action("Avto","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Avto-Moto</a>
            <a class="nav-item" href="@Url.Action("IKT","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">İKT</a>
            <a class="nav-item" href="@Url.Action("Tourism","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Turizm</a>
            <a class="nav-item" href="@Url.Action("Interesting","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Maraqlı</a>
            <a class="nav-item" href="@Url.Action("Interview","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Müsahibə</a>
            <a class="nav-item" href="@Url.Action("BakuTV","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">Baku TV</a>
            <a class="nav-item" href="@Url.Action("CinemaPlus","Home")" style="background: url('@Url.Content("~/images/header-background.png")');">CinemaPlus</a>
        </nav>
    </header>

    <main class="mt-5 mb-5">
        @RenderBody()
    </main>


    <footer class="border-top footer-custom pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-12 h-100 align-middle" style="color: grey">
                    2020 - oxu.az
                </div>
            </div>
        </div>
    </footer>




    <!--scripts start-->
    <!--jquery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--javascript-->
    <script src="~/js/script.js"></script>
    <!--Stat-->
    <partial name="_Stat.cshtml" />
    <!--scripts end-->
    @RenderSection("scripts", required: false)
</body>

</html>
