@model oxu.az.Models.News

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <h1>XƏBƏRİN REDAKTƏSİ</h1>
    <div class="row">
        <div class="col-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreationTime" value="@Model.CreationTime" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.CategoryId, (ViewBag.Categories as List<SelectListItem>), new { @class = "form-control" })
                </div>

                <div class="custom-file mb-3">
                    <input name="file" type="file" class="custom-file-input" id="customFile">
                    @Html.HiddenFor(m => m.FileName)
                    <label class="custom-file-label" for="customFile">@Model.FileName</label>
                </div>

                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" rows="20" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isMain" /> @Html.DisplayNameFor(model => model.isMain)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yadda saxla" class="btn btn-primary d-inline-block" />
                    <a asp-action="Index" class="btn btn-primary">Siyahıya Qayıt</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
