@model IEnumerable<oxu.az.Models.News>

@{
    ViewData["Title"] = "Index";
}


    <div class="container">
        <a asp-action="Create" class="btn btn-primary mb-3">+Xəbər Əlavə Et</a>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center align-middle">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="text-center align-middle">
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th class="text-center align-middle">
                        @Html.DisplayNameFor(model => model.File)
                    </th>
                    <th class="text-center align-middle">
                        @Html.DisplayNameFor(model => model.isMain)
                    </th>
                    <th class="text-center align-middle">
                        Əməliyyatlar
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center align-middle" style="width: 15%">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td  class="text-center align-middle" style="width: 15%">
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td  class="text-center align-middle" style="width: 15%">
                            <img src="~/images/@item.FileName" class="w-100" alt="@item.FileName">
                        </td>
                        <td  class="text-center align-middle" style="width: 15%">
                            @Html.DisplayFor(modelItem => item.isMain)
                        </td>
                        <td  class="text-center align-middle text-nowrap" style="width: 40%">
                            <a asp-action="Edit" class="btn btn-primary " asp-route-id="@item.Id">Redaktə</a>
                            <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Ətraflı</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>

